%richtext {
	h2 {
		@extend %title;
	}

	p,
	ul,
	ol {
		@extend %paragraph;
	}

	ul {
		padding-left: 0;
	}

	li {
		@extend %bullet;
	}

	a {
		display: inline-block;
		color: inherit;
	}

	a:hover,
	a:active {
		color: $pink;
	}

	a:hover {
		@media (hover: none) {
			color: inherit;
		}
	}

	a:active {
		@media (hover: none) {
			color: $pink;
		}
	}
}
